:root {
    --color1: #fa824c;
    --color2: #2e3532;
    --color3: #8b9eb7;
    --color4: #04a777;
    --color5: #0a8754;
    --color6: #333745;
    --color7: #1789fc;
    --color8: #f75c03;
    --color9: #dcdcdd;
    --color10: #f7d002;
    --color11: #018e42;
    --color12: #559cad;
    --color13: #fb4d3d;
    --color14: #373737;
    --color15: #ff9f1c;
    --color16: #f71735;
  }


.main__page {
    width: 100vw;
    height: 100vh;
    padding-top: 60px;
}
.main__title {
    font-family: "Play", sans-serif;
    padding-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    line-height: 125%;
    color: var(--color8);
    text-align: center;
    z-index: 2;
}
.main__text {
    padding: 20px 30px 0px 30px;
    font-size: 24px;
    line-height: 125%;
    color: var(--color9);
    text-align: center;
    z-index: 2;
}
.main-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-slide img {
    margin-top: 40px;
    width: 52px;
    height: 52px;
    opacity: 0.4;
}






.page__container {
}
.run1 {
}
.run1__name {
}
.run1__date {
}
.run1__distance {
}
.run1__pace {
}
.run1__time {
}
.run1__slide-image {
}
.image {
}
.run1__place {
}
.run1__description {
}
