:root {
    --color1: #fa824c;
    --color2: #2e3532;
    --color3: #8b9eb7;
    --color4: #04a777;
    --color5: #0a8754;
    --color6: #333745;
    --color7: #1789fc;
    --color8: #f75c03;
    --color9: #dcdcdd;
    --color10: #f7d002;
    --color11: #018e42;
    --color12: #559cad;
    --color13: #fb4d3d;
    --color14: #373737;
    --color15: #ff9f1c;
    --color16: #f71735;
  }
.page__rec {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  }
.rec__body {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* .rec__label {
  padding: 20px;
  text-align: center;
  color: var(--color8);
  font-size: 32px;
  font-weight: 500;
}
.rec__text {
  padding-bottom: 20px;
  text-align: center;
  font-size: 18px;
} */
.rec__map {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 450px; 
  max-height: 470px; */

}
.rec__map iframe {
  border-radius: 8px;
  /* width: 400px; 
  height: 470px; */
  width: 100vw;
  height: 80vh;
}
.rec__button {
  /* padding: 12px; */
  margin: -66px auto 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 12px; */
  /* max-width: 200px; */
  /* background-color: #018e42; */
  /* border-radius: 8px; */
  z-index: 5;
}
.rec__button img{
  width: 54px;
}