:root {
    --color1: #fa824c;
    --color2: #2e3532;
    --color3: #8b9eb7;
    --color4: #04a777;
    --color5: #0a8754;
    --color6: #333745;
    --color7: #1789fc;
    --color8: #f75c03;
    --color9: #dcdcdd;
    --color10: #f7d002;
    --color11: #018e42;
    --color12: #559cad;
    --color13: #fb4d3d;
    --color14: #373737;
    --color15: #ff9f1c;
    --color16: #f71735;
  }

.hello-page {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.hello-page__body {
	padding: 50px 15px;
	background-color: rgba(0, 0, 0, 0.705);
	position: relative;
	z-index: 2;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-transform: uppercase;
}
.hello-page__title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    padding-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 21px;
    line-height: 125%;
    color: var(--color8);
    text-align: center;
}
.hello-page__text {
    font-weight: 500;
    padding: 5px 30px 0px 30px;
    font-size: 15px;
    line-height: 125%;
    color: var(--color9);
    text-align: center;
}
.hello-page__video {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.hello-page__scrolldown {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
}
.hello-page__scrolldown img {
    margin-top: 40px;
    width: 52px;
    height: 52px;
    opacity: 0.4;
    z-index: 3;
}
.more__hello-page {
    display: block;
    max-width: 170px;
    margin: 10px auto;
    padding: 10px;
    color: #fff;
    border: 1px solid #2e3532;
    border-radius: 18px;
    font-size: 14px;
    text-transform:capitalize;
}
.records {
    padding-top: 80px;
    padding-bottom: 80px;
}
/* run */
.run__body:not(:first-child) {
    padding-top: 80px;
}
.run {
    padding-top: 40px;
}
.run__name {
    text-align: center;
    padding-bottom: 0;
    font-size: 28px;
    font-weight: 500;
}
.run__date {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
    text-align: center;
}
.vertical-line__run_date {
    display: flex;
    opacity: 0.1;
}
.vertical-line__run_date::after {
    content: "";
    width: 1px;
    height: 30px;
    background-color: #fff;
}
.run__about {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 14px;
    gap: 10px;
}
.run__date p {
    font-size: 16px;
    font-weight: 500;
    padding-top: 5px;
    color: var(--color8);
    text-align: center;
}
.run__place {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.run__place p {
    font-size: 16px;
    font-weight: 500;
    padding-top: 5px;
    color: var(--color8);
    text-align: center;
}
.run__place span {
    font-size: 16px;
    color: var(--color3);
}
.run__date-date p {
    font-size: 15px;
}
.run__rate {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
}
.rate-it {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}
.rate {
    padding-top: 26px;
    padding-right: 26px;
    background: url("../src/front/icons/mainpage/like.svg") 0 0 no-repeat;
    background-size: 22px;
}
.unrate {
    padding-top: 26px;
    padding-right: 26px;
    background: url("../src/front/icons/mainpage/unlike.svg") 0 0 no-repeat;
    background-size: 22px;
}
/* records */
/* swiper */
.image-slider {
    padding: 10px 10px 20px 10px;
}
.image-slider__image {
    padding: 0px 0px 100% 0px;
    overflow: hidden;
    position: relative;
}
.image-slider__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 14px;
}
/* swiper */