:root {
    --color1: #fa824c;
    --color2: #2e3532;
    --color3: #8b9eb7;
    --color4: #04a777;
    --color5: #0a8754;
    --color6: #333745;
    --color7: #1789fc;
    --color8: #f75c03;
    --color9: #dcdcdd;
    --color10: #f7d002;
    --color11: #018e42;
    --color12: #559cad;
    --color13: #fb4d3d;
    --color14: #373737;
    --color15: #ff9f1c;
    --color16: #f71735;
  }

.rec__body {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* .rec__label {
  padding: 20px;
  text-align: center;
  color: var(--color8);
  font-size: 32px;
  font-weight: 500;
}
.rec__text {
  padding-bottom: 20px;
  text-align: center;
  font-size: 18px;
} */
.rec__map {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.rec__map iframe {
  border-radius: 10px;
  width: 350px; 
  height: 350px;
}
.rec__button {
  padding: 12px;
  margin: 15px auto 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 200px;
  background-color: #018e42;
  border-radius: 8px;
}
.rec__button img{
  width: 30px;
}