@import url("general/reset.css");
@import url("general/links.css");
@import url("general/common.css");

@import url("header.css");
@import url("page.css");
@import url("footer.css");

:root {
    --dark-main: #001219;
    --dark-main2: #2f3e46;
    --dark-main3: #1b2021;
    --dark-main4: #335c67;
    --dark-main5: #1c1d21;
    --dark-main6: #09181d;

    --color1: #fa824c;
    --color2: #2e3532;
    --color3: #8b9eb7;
    --color4: #04a777;
    --color5: #0a8754;
    --color6: #333745;
    --color7: #1789fc;
    --color8: #f75c03;
    --color9: #dcdcdd;
    --color10: #f7d002;
    --color11: #018e42;
    --color12: #559cad;
    --color13: #fb4d3d;
    --color14: #373737;
    --color15: #ff9f1c;
    --color16: #f71735;
  }
  
  body {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    background-color: var(--dark-main3);
    color: #fff;
  }
  .wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex: 1 1 auto;
  }
  
  [class*="__container"] {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1140px;
  }

  @media (min-width: 768.98px) {
    .only-mobile {
      display: none;
    }
  }
  @media (max-width: 767.98px) {
    .only-pc {
      display: none;
    }
  }