:root {
    --dark-main: #001219;
    --dark-main2: #2f3e46;
    --dark-main3: #1b2021;
    --dark-main4: #335c67;
    --dark-main5: #1c1d21;
    --dark-main6: #09181d;

    --color1: #fa824c;
    --color2: #2e3532;
    --color3: #8b9eb7;
    --color4: #04a777;
    --color5: #0a8754;
    --color6: #333745;
    --color7: #1789fc;
    --color8: #f75c03;
    --color9: #dcdcdd;
    --color10: #f7d002;
    --color11: #018e42;
    --color12: #559cad;
    --color13: #fb4d3d;
    --color14: #373737;
    --color15: #ff9f1c;
    --color16: #f71735;
  }

body {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    background-color: var(--dark-main3);
    color: #fff;
}
h1 {
    padding-top: 42px;
    text-align: center;
    font-size: 23px;
}
h2 {
    padding: 12px 24px;
    text-align: center;
    font-size: 21px;
    color: var(--color8);
    font-weight: 500;
}
p {
    padding: 22px 24px;
    text-align: center;
    font-size: 18px;
    line-height: 135%;
}
a {
    display: block;
    max-width: 70px;
    margin: 0 auto;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    border: 1px solid #dcdcdd;
    border-radius: 20px;
    padding: 5px 2px;
    text-decoration: none;
}
span {
    color: #018e42;
    font-weight: 700;
}
.wrapper__howtouse {
    width: 100vw;
    height: 100vh;
}